In [70]:
#imported pandas to read, perform data cleaning and analysis task, write and save back to csv file
import pandas as pd
#importing function to split data by ratio
from sklearn.model_selection import train_test_split
#importing GaussionNB object to fit into the model
from sklearn.naive_bayes import GaussianNB
#function to calculate classification_report and truth table
from sklearn import metrics
#reading glass data set
train_df = pd.read_csv("/Users/venkatavarunnelakuditi/Downloads/icp-5-varunnh7t-master/Dataset/glass.csv")

In [71]:
#knowing about column names
print(train_df.columns.values)

['RI' 'Na' 'Mg' 'Al' 'Si' 'K' 'Ca' 'Ba' 'Fe' 'Type']

In [72]:
#looking top 5 records
train_df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [73]:
#looking into data types and null values of different columns
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [74]:
"droping target value from dataset"
X_train = train_df.drop(["Type"],axis=1)

In [75]:
"feeding target value into y_train varible"
Y_train = train_df["Type"]

In [76]:
"spliting dataset to train and test a model"
X_train, X_test, Y_train, Y_test = train_test_split(X_train, Y_train, test_size=0.20, random_state=0)
print(X_train)
print(X_test)

          RI     Na    Mg    Al     Si     K    Ca   Ba    Fe
16   1.51784  12.68  3.67  1.16  73.11  0.61  8.70  0.0  0.00
135  1.51789  13.19  3.90  1.30  72.33  0.55  8.44  0.0  0.28
122  1.51687  13.23  3.54  1.48  72.84  0.56  8.10  0.0  0.00
22   1.51736  12.78  3.62  1.29  72.79  0.59  8.70  0.0  0.00
80   1.51592  12.86  3.52  2.12  72.66  0.69  7.97  0.0  0.00
..       ...    ...   ...   ...    ...   ...   ...  ...   ...
67   1.52152  13.05  3.65  0.87  72.32  0.19  9.85  0.0  0.17
192  1.51623  14.20  0.00  2.79  73.46  0.04  9.04  0.4  0.09
117  1.51708  13.72  3.68  1.81  72.06  0.64  7.88  0.0  0.00
47   1.52667  13.99  3.70  0.71  71.57  0.02  9.82  0.0  0.10
172  1.51321  13.00  0.00  3.02  70.70  6.21  6.93  0.0  0.00

[171 rows x 9 columns]
          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
197  1.51727  14.70  0.00  2.34  73.28  0.00   8.95  0.66  0.00
37   1.51797  12.74  3.48  1.35  72.96  0.64   8.68  0.00  0.00
89   1.51640  12.55  3.48  1.87  73.23  0.63   8.08  0.00  0.09
176  1.51905  14.00  2.39  1.56  72.37  0.00   9.57  0.00  0.00
170  1.52369  13.44  0.00  1.58  72.22  0.32  12.24  0.00  0.00
75   1.51590  13.02  3.58  1.51  73.12  0.69   7.96  0.00  0.00
96   1.51841  13.02  3.62  1.06  72.34  0.64   9.13  0.00  0.15
137  1.51711  12.89  3.62  1.57  72.96  0.61   8.11  0.00  0.00
5    1.51596  12.79  3.61  1.62  72.97  0.64   8.07  0.00  0.26
83   1.51594  13.09  3.52  1.55  72.87  0.68   8.05  0.00  0.09
55   1.51769  12.45  2.71  1.29  73.70  0.56   9.06  0.00  0.24
145  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.00  0.35
160  1.51832  13.33  3.34  1.54  72.14  0.56   8.99  0.00  0.00
112  1.52777  12.64  0.00  0.67  72.02  0.06  14.40  0.00  0.00
74   1.51596  13.02  3.56  1.54  73.11  0.72   7.90  0.00  0.00
202  1.51514  14.85  0.00  2.42  73.72  0.00   8.39  0.56  0.00
126  1.51667  12.94  3.61  1.26  72.75  0.56   8.60  0.00  0.00
12   1.51589  12.88  3.43  1.40  73.28  0.69   8.05  0.00  0.24
153  1.51610  13.42  3.40  1.22  72.69  0.59   8.32  0.00  0.00
158  1.51776  13.53  3.41  1.52  72.04  0.58   8.79  0.00  0.00
168  1.51666  12.86  0.00  1.83  73.88  0.97  10.17  0.00  0.00
141  1.51851  13.20  3.63  1.07  72.83  0.57   8.41  0.09  0.17
194  1.51683  14.56  0.00  1.98  73.29  0.00   8.52  1.57  0.07
189  1.52365  15.79  1.83  1.31  70.43  0.31   8.61  1.68  0.00
144  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.00  0.24
18   1.51911  13.90  3.73  1.18  72.12  0.06   8.89  0.00  0.00
208  1.51640  14.37  0.00  2.74  72.85  0.00   9.45  0.54  0.00
15   1.51761  12.81  3.54  1.23  73.24  0.58   8.39  0.00  0.00
86   1.51569  13.24  3.49  1.47  73.25  0.38   8.03  0.00  0.00
71   1.51848  13.64  3.87  1.27  71.96  0.54   8.32  0.00  0.32
7    1.51756  13.15  3.61  1.05  73.24  0.57   8.24  0.00  0.00
63   1.52227  14.17  3.81  0.78  71.35  0.00   9.69  0.00  0.00
143  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.00  0.00
97   1.51743  12.20  3.25  1.16  73.55  0.62   8.90  0.00  0.24
136  1.51806  13.00  3.80  1.08  73.07  0.56   8.38  0.00  0.12
162  1.52211  14.19  3.78  0.91  71.36  0.23   9.14  0.00  0.37
33   1.51753  12.57  3.47  1.38  73.39  0.60   8.55  0.00  0.06
154  1.51694  12.86  3.58  1.31  72.61  0.61   8.79  0.00  0.00
90   1.51841  12.93  3.74  1.11  72.28  0.64   8.96  0.00  0.22
191  1.51602  14.85  0.00  2.38  73.28  0.00   8.76  0.64  0.09
106  1.53125  10.73  0.00  2.10  69.81  0.58  13.30  3.15  0.28
180  1.51299  14.40  1.74  1.54  74.55  0.00   7.59  0.00  0.00
139  1.51674  12.87  3.56  1.64  73.14  0.65   7.99  0.00  0.00

In [77]:
#Creating object for the algorithm
gnb=GaussianNB()
"fitting dataset into model "
Y_predict=gnb.fit(X_train,Y_train).predict(X_test)
"classification_report for true y_values and predicted Y_values"
print(metrics.classification_report(Y_test,Y_predict))
print(metrics.confusion_matrix(Y_test,Y_predict))

              precision    recall  f1-score   support

           1       0.19      0.44      0.27         9
           2       0.33      0.16      0.21        19
           3       0.33      0.20      0.25         5
           5       0.00      0.00      0.00         2
           6       0.67      1.00      0.80         2
           7       1.00      1.00      1.00         6

    accuracy                           0.37        43
   macro avg       0.42      0.47      0.42        43
weighted avg       0.40      0.37      0.36        43

[[ 4  3  1  0  1  0]
 [14  3  1  1  0  0]
 [ 3  1  1  0  0  0]
 [ 0  2  0  0  0  0]
 [ 0  0  0  0  2  0]
 [ 0  0  0  0  0  6]]

In [78]:
from sklearn.metrics import accuracy_score
#calculting accuracy between true y_values and predicted Y_values
accuracy_score(Y_test, Y_predict)

0.37209302325581395

In [79]:
acc_score = round(gnb.score(X_train, Y_train) * 100, 2)
#calculting accuracy between true y_train data set values and predicted train data set value
print("accuracy =", acc_score)

accuracy = 59.06